<link rel="stylesheet" href="{{ 'assets/css/sidebar_home.css' | relative_url }}">
<div class="container">
  <nav class="submenu" style="display: flex; flex-direction: column; gap: 1rem;">
    <a href="{{ site.baseurl }}" style="text-decoration: none; color: #333; font-weight: 500;">🏠 Home</a>
    <a href="{{ site.baseurl }}quantasVezesAparecemInstrumentos" style="text-decoration: none; color: #333;">🔁 Instrumentos que repetem</a>
    <a href="{{ site.baseurl }}projetosPorTrack/" style="text-decoration: none; color: #333;">📁 Projetos por tipo de track</a>
    <a href="{{ site.baseurl }}beatsDisponiveis/" style="text-decoration: none; color: #333;">🎧 Beats Disponíveis</a>    
    <a href="{{ site.baseurl }}mmp_pages/" style="text-decoration: none; color: #333;">🎼 Projetos Disponíveis</a>
    <a href="{{ site.baseurl }}" style="text-decoration: none; color: #333;">🔎 Buscas</a>
    <a href="{{ site.baseurl }}about/" style="text-decoration: none; color: #333;">ℹ️ Sobre</a>
  </nav>
</div>
</div>
