<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/quantasVezesAparecemInstrumentos">Repetições</a></li>
      <li><a href="{{ site.baseurl }}/quaisProjetos/">Quais Projetos</a></li>
      <li><a href="{{ site.baseurl }}/beatsDisponiveis/">Beats Disponíveis</a></li>
      <li><a href="{{ site.baseurl }}/arquivosMMP/">Arquivos MMP</a></li>
      <li><a href="{{ site.baseurl }}/buscas/">Buscas</a></li>
      <li><a href="{{ site.baseurl }}/search/">wav pelo instrumento</a></li>
      <li><a href="{{ site.baseurl }}/about/">Sobre</a></li>
    </ul>
  </nav>
</aside>
