<link rel="stylesheet" href="{{ 'assets/css/sidebar.css' | relative_url }}">

<div class="subheader">
  <div class="submenu">
    <a href="{{ site.baseurl }}">🏠 Home</a>
    <a href="{{ site.baseurl }}quantasVezesAparecemInstrumentos">🔁 Repetições</a>
    <a href="{{ site.baseurl }}quaisProjetos/">📁 Quais Projetos</a>
    <a href="{{ site.baseurl }}beatsDisponiveis/">🎧 Beats Disponíveis</a>
    <a href="{{ site.baseurl }}mmp_pages/">🎼 Projetos</a>
    <a href="{{ site.baseurl }}">🔎 Buscas</a>
    <a href="{{ site.baseurl }}about/">ℹ️ Sobre</a>
  </div>
</div>
