/* Estilos para o layout */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para ocupar pelo menos toda a altura da tela */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  flex: 1;
  padding: 20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.post {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

.footer-images {
  margin-top: 10px;
}

.footer-images img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

/* Estilos para tornar o layout responsivo */

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    order: 2; /* Altera a ordem para colocar a sidebar abaixo no layout mobile */
  }

  .container {
    order: 1; /* Coloca a área de conteúdo antes da sidebar no layout mobile */
  }
}

