<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>{{ page.title }}</title>
    <!-- Adicione outros links de estilos necessários -->
</head>

<body>
    <header>
	<nav>
      	  <a href="/~jotachina/mmpSearch/_site/">Home</a>
      	  <a href="/~jotachina/mmpSearch/_site/quantasVezesAparecemInstrumentos">Repetições</a>
      	  <a href="/~jotachina/mmpSearch/_site/quaisProjetos/">Quais projetos usam quais instrumentos?</a>
      	  <a href="/~jotachina/mmpSearch/_site/beatsDisponiveis/">Beats disponíveis</a>
      	  <a href="/~jotachina/mmpSearch/_site/arquivosMMP/">Projetos disponíveis</a>
      	  <a href="/~jotachina/mmpSearch/_site/about/">Sobre</a>
        </nav>
    </header>


  <main class="main-content">
    <div class="container">
    <aside>
      <div class="post-grid">
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
        <div class="post">1</div>
      </div>
    </aside>

    </main>
  <div class="contet">
        {{ content }}
  </div>
</div>

    <footer>
        <!-- Rodapé -->
	Alice UFSJ
    </footer>

    <!-- Scripts no final da página para melhor performance -->
    <!-- Adicione outros scripts conforme necessário -->

</body>
</html>
